*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 0px;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

h3 {
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}



.h1-button:hover {
    cursor: pointer;
}

.h1-button {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;
    font-weight: medium;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.ilk-sec{
    
    background-color: #2E2F42;
    color: white;
    
}

ul{
    list-style: none;
}

footer{
   
    background-color: #2E2F42;
}

.alt-duzen{
    color: #F4F4FD;

}

.team{
    background-color: #F4F4FD;
    
}




.logo-one{
    color: #4D5AE5;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-two{
    color: #F4F4FD;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-diffclr{
    color: #2E2F42;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.navi{
    color: #2E2F42;
    display: flex;
    gap: 40px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
        
}

.adres{
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    gap: 40px;

}

.transform:hover{
    color: #404BBF;
}

.transform:active{
    color: #404BBF;
    text-decoration: underline;
}

.changed:hover{
    color: #404BBF;
}

.h1-button:hover{
    background-color: #404BBF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    
}

.logo {
    display: flex;
}

address {
    display: flex;
}

.ustmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ortala
 {
    text-align: center;
 }

 .texts {
    display: flex;
    gap: 8px;
 }


 .team-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
 }

 .baslikteam {
    text-align: center;
 }

 .altyazi {
    background-color: white;
 }

 .resimalti {
    background-color: white;
 }

 section {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .alt-duzen {
    width: 264px;
    margin: 156px;
 }

 .team-card {
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
 }

 .port-card {
    background-color: white;
    border-width: 0px 1px 1px 1px;
    
    border-style: solid;
    
    border-color: #E7E9FC;
    gap: 24px;
    
 }

 .contents {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

 }

.portmid {
    text-align: center;
}

.nav-duzenle {
    display: flex;
    align-items: center;
    gap: 72px;
}